<div class="container">
  <div class="row">
    <div calss="col-md-6">
    <% @user.followers.each do |user| %>
      <%= user.name %>
      <%= link_to '詳細', user_path(user) %>
      <% end %>
     </div>
     <div calss="col-md-6">
      ffffff 
     </div>
  </div>
</div>
